<nav>
<a><%= link_to 'View Events', new_event_path%></a>
<a><%= link_to 'Post Events', new_event_path%></a>
</nav>
<h1>Welcome</h1>
<p>This is evently here you can see all the events you own.Click on "View events" to see more events near you.</p>
